# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.run.xml
*.bcf
*.thm
*.toc
*.upa
*.upb
*.tmp
*.bak
*.backup
*.swp
*.synctex.gz
# MacOS Finder files
.DS_Store
# TeXShop files
*.texpadtmp
# Overleaf files
*.sav
*.svn
*.out
*.synctex.gz
*.pdf
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.aux
*.log
*.toc
*.nav
*.snm
*.vrb
*.lof
*.lot
*.gz
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.run.xml
*.bcf
*.blx.bib
*.fdb_latexmk
*.synctex.gz
*.xdv
*.dvi
*.ps
*.eps
*.thm
*.upa
*.upb
*.tmp
*.bak
*.backup
*.swp
# End of LaTeX .gitignore
